body {
  background-color: aqua;
}
.App {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: darkcyan;
  padding: 20px 0px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

label {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.addTodo {
  width: 60%;
  padding: 10px 5px;
  font-size: 20px;
}
.button {
  background-color: blue;
  color: white;
  padding: 5px 40px;
  font-size: 20px;
  cursor: pointer;
}

.todoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoList__text {
  font-size: 20px;
  font-weight: 500;
}

.todoList__tools {
  display: flex;
  gap: 10px;
}
.tools__delete {
  max-width: 30px;
  padding: 5px;
  background-color: yellow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools__change {
  max-width: 30px;
  padding: 5px;
  background-color: yellow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools__lock {
  max-width: 30px;
  padding: 5px;
  background-color: yellow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoList__tools img {
  width: 100%;
}
